<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.pushserver.PushServerPlugin</class>

    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>

    <author>Busoft Teknoloji A.Ş.</author>
    <date>2024-09-11</date>

    <minServerVersion>4.8.0</minServerVersion>

    <databaseKey>pushserver</databaseKey>
    <databaseVersion>1</databaseVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="pushserver-settings" name="${push.server.settings.title}" url="pushserver-settings.jsp" description="${push.server.settings.description}" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>